body {
    margin: 0;
    background: linear-gradient(45deg,rgb(198, 199, 252) 0%, rgb(130, 122, 238) 40%, rgb(66, 68, 233) 70%, rgb(48, 45, 230) 88%);
    animation: body 7s infinite linear;
    background-size: 400%;
}
@keyframes body {
    0% {
        background-position: 80% 0%;
    }
    50% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 80% 0%;
    }
}
header {
    background-color: #be91fa;
    padding: 30px 0;
    margin-bottom: 20px;
}
h1 {
    text-align: center;
    margin: 0;
}  
.multiple-items {
    max-width: 85%;
    border-radius: 10px;
    margin: 0 auto;
}
.slick-prev, .slick-next {
    width: 25px;
}
.slick-prev:before, .slick-next:before {
    font-size: 24px;
    color: #e419e4;
    text-align: center;
}
.img {
    width: 100%;
}
#slick-slide-control00:before, #slick-slide-control01:before, 
#slick-slide-control02:before, #slick-slide-control03:before, 
#slick-slide-control04:before,#slick-slide-control05:before, 
#slick-slide-control06:before, #slick-slide-control07:before {
    color: #750275;
}